<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>List of Users</h1>
<div>
    <table border="3">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>

        <tr th:each="user : ${users}">
            <td th:text="${user.id}">Id</td>
            <td th:text="${user.name}">Name</td>
            <td>

                <form action="#" th:action="@{/edit-user}" method="post">
                    <input type="hidden" name="id" th:value="${user.id}"/>
                    <input type="text" name="name" th:value="${user.name}"/>
                    <button type="submit">Edit</button>
                </form>

                <form action="#" th:action="@{/delete-user}" method="post">
                    <input type="hidden" name="id" th:value="${user.id}"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>
<br/>
<h2>Add New User</h2>
<form action="#" th:action="@{/add-user}" th:object="${user}" method="post">
    <label for="name">Name:</label><br/>
    <input type="text" id="name" name="name"><br/><br/>
    <button type="submit">Submit</button>
</form>


<div th:if="${errorMessage}">
    <span th:text="${errorMessage}" style="color: red"></span>
</div>

</body>
</html>